.home {
  flex: 4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.manual {
  flex: 4;
  display: flex;
  margin: 20px;
  flex-direction: column;
}
.inputContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SearchContainer{
  display: flex;
  flex-direction: column;
}
.seachbox {
  display: flex;

  justify-content: center;
}
.useradd {
  width: auto;
  border-radius: 20px;
}
.SearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.search {
  width: 200px;
  margin-left: 10px;
}
.orderByName h2 {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orderContainer {
  display: flex;
  justify-content: center;
}

.order_btn {
  width: 159px;
  margin-left: 10px;
  background-color: rgb(104, 19, 161);
  border-radius: 20px;
}
.order_btn:hover {
  background-color: #59b1eb;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th {
  text-align: center;
  color: white;
  background: linear-gradient(#829ebc, #225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  /* width: 10%; */
  padding: 7px 0;
}

table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 10%;
  padding: 1px 0;
}

table td:last-child {
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.topbarIconContainer {
  text-decoration: none;
}
.viewButton {
  padding: 2px 5px;
  font:bold;
  border-radius: 15px;
  color: white;
  background-color: rgb(15, 15, 218);
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
 
}
.viewButton:hover {
  background-color: #59b1eb;
}
.deleteButton {
  font:bold;
  padding: 2px 5px;
  border-radius: 15px;
  background-color: crimson;
  color: white;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}
.deleteButton:hover {
  background-color: #ce748a;
}
.seachbox {
  display: flex;
}
